.footer {
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer p
  {
    color: white;
  }
  